body {
  background-color: #0d192b;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
}

h5 {
  color: #ffffff;
}

p {
  color: #8bacda;
  font-size: 18px;
}

hr {
  border-style: solid;
  border: 2px;
  color: #8bacda;
}

span {
  padding-right: 8px;
  vertical-align: inherit;
}

.card {
  background-color: #14253d;
  border-radius: 20px;
  max-width: 375px;
  padding: 23px;
  padding-bottom: 18px;
}

/*------ Image Secction------*/

.img-container {
  position: relative;
  width: 100%;
}

.card-img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.overlay-img {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
border-radius: 10px;
transition: .3s ease;
background-color: #00fff77a;
}

.img-container:hover .overlay-img {
  opacity: 1;
}

.icon{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
}


/*------ Body Secction------*/

.card-body {
  padding: 20px 1px 0;
}

.card-title{
  padding-top: 10px;
  padding-bottom: 12px;
  font-size: 23px;
  font-weight: 500;
  font-family: 'Outfit', sans-serif;
}

.card-title:hover{
  cursor: pointer;
  color: #00fff7;
}

.card-text {
margin-bottom: 20px;
font-weight: 200;
}

.price {
  display: inline-block;
  color: 	#00fff7;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;

}

.timer {
  font-weight: 400;
  font-size: 16px;
  float: right;
  padding-right: 2px;
  margin-bottom: 6px;
}

/*------ Author Secction------*/

.creator-name{
  color: White;
}

.creator-name:hover{
  cursor: pointer;
  color: #00fff7;
}

.avatar-img {
  max-width: 35px;
  max-height: 35px;
  vertical-align: middle;
  border-radius: 100%;
  border: solid;
  border-color: White;
  margin-right: 18px;
}
